.flex-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.track-crypto, .real-time {
    font-size: 6rem;
    font-weight: 800;
    /* padding: 0rem 2.5rem; */
    margin: 0;
    
}
.track-crypto:hover {
    -webkit-text-stroke: 3px var(--white);
    color: var(--black);
    transition: all 0.3s;
}

.real-time {
    color: var(--blue);
}

.info {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--gray);
    padding: 1rem 0rem;
}

.btn-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 0rem;
}
.phone-component {
    position: relative;
    width: 40%;
    padding: 1rem;
}

.phone{
    position: absolute;
    width: 50%;
    right: 0rem;
    min-width: 150px;
    z-index: 100;
    
}
.gradient {
    top: 7rem;
    width: 40%;
    min-width: 100px;
    position: absolute;
    right: 0rem;
}

@media screen and (max-width:1200px) {
    .track-crypto, .real-time{
        font-size: 5rem;
    }
    .info {
        font-size: 1rem;
    }
    .btn-flex .btn {
        gap: 0.8rem;
        padding: 0.5rem 1rem;
    }
    .phone{
        width: 65%; 
    }
    .gradient{
        width: 50%;
    }
}


@media screen and (max-width: 1000px) {
    .flex-info{
        padding: 1rem 2.5rem;
    }
    .track-crypto, .real-time{
        font-size: 4rem;
    }
    .info {
        font-size: 0.9rem;
    }
    .phone{
        width: 80%; 
    }
    .gradient{
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .flex-info {
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;
    }
    .track-crypto, .real-time{
        font-size: 3rem;
        text-align: center;
    }
    .info {
        font-size: 0.7rem;
        text-align: center;
    }
    .btn-flex {
        justify-content: center;
    }
    .phone-component{
        width: 100%;
        padding: 0rem;
        right: 6rem;
        margin-top: 3rem;
    }
    .phone{
        width: 55%; 
    }
    .gradient{
        width: 45%;
    }
}